@model WebDuolingo.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .container {
        overflow: auto;
    }

    .content {
        height: 500px;
        overflow-y: auto;
    }

    .footer {
        position: sticky;
        bottom: 0;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameQues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameQues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnsNavigation.IdAns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateByNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeNavigation.IdType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelNavigation.IdLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdQues">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
